<!-- SECTION -->
<div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">


            <!-- Product main img -->
            <div class="col-md-5 col-md-push-2">
                <div id="product-main-img">
                    <div v-for="img in product.images" class="product-preview">
                        <img :src="$storageUrl+'/'+img.name" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
            <div class="col-md-2  col-md-pull-5">
                <div id="product-imgs">
                    <div v-for="img in product.images" class="product-preview">
                        <img :src="$storageUrl+'/'+img.name" alt="">
                    </div>
                </div>
            </div>
            <!-- /Product thumb imgs -->



            <!-- Product main img -->
<!--            <div class="col-md-5 col-md-push-2">-->
<!--                <div id="product-main-img">-->
<!--                    <div v-for="img in product.images" class="product-preview">-->
<!--                        <img :src="$storageUrl+'/'+img.name" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--                <div id="product-imgs">-->
<!--                    <div v-for="img in product.images" class="product-preview">-->
<!--                        <img :src="$storageUrl+'/'+img.name" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <!-- /Product main img -->

            <!-- Product thumb imgs -->
<!--            <div class="col-md-2  col-md-pull-5">-->
<!--                -->
<!--            </div>-->
            <!-- /Product thumb imgs -->

            <!-- Product details -->
            <div class="col-md-5">
                <div class="product-details">
                    <h2 class="product-name">{{product.name}}</h2>
                    <div style="opacity: 0.5;cursor: not-allowed;" >
                        <div class="product-rating">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i>
                        </div>
                        <a class="review-link" style="pointer-events: none"   href="#">10 Review(s) | Add your review</a>
                    </div>
                    <div>
                        <h3 class="product-price">{{product.price}} грн </h3>
                        <span class="product-available">В НАЯВНОСТІ</span>
                    </div>
                    <p v-html="product.description_short" > </p>


                    <div class="add-to-cart">
                        <div class="qty-label">
                            Qty
                            <div class="input-number">
                                <input type="number"  v-model="product.quantity">
                                <button class="qty-up" v-on:click="product.quantity++">+</button>
                                <button class="qty-down" :disabled="product.quantity<=1"  v-on:click="product.quantity--">-</button>
                            </div>
                        </div>
                        <button class="add-to-cart-btn" v-on:click="basketStore.addToBasket(product)"><i class="fa fa-shopping-cart"></i>Додати в кошик</button>
                    </div>

                    <ul class="product-btns">
                        <li><a href="#"><i class="fa fa-heart-o"></i> додати до бажань</a></li>
<!--                        <li><a href="#"><i class="fa fa-exchange"></i> add to compare</a></li>-->
                    </ul>

                    <ul class="product-links"  style="opacity: 0.5;cursor: not-allowed;">
                        <li>Category:</li>
                        <li><a style="pointer-events: none" href="#">Headphones</a></li>
                        <li><a style="pointer-events: none" href="#">Accessories</a></li>
                    </ul>

<!--                    <ul class="product-links">-->
<!--                        <li>Share:</li>-->
<!--                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>-->
<!--                        <li><a href="#"><i class="fa fa-envelope"></i></a></li>-->
<!--                    </ul>-->

                </div>


            </div>


            <!-- /Product details -->

            <!-- /Product details -->

            <!-- Product tab -->
            <div class="col-md-12">
                <div id="product-tab">
                    <!-- product tab nav -->
                    <ul class="tab-nav">
                        <li class=""><a data-toggle="tab" href="#tab1" aria-expanded="false">Description</a></li>

                        <li class="active"><a data-toggle="tab" href="#tab3" aria-expanded="true">Reviews ({{commentApiStore.comments.total}})</a></li>
                    </ul>
                    <!-- /product tab nav -->

                    <!-- product tab content -->
                    <div class="tab-content">
                        <!-- tab1  -->
                        <div id="tab1" class="tab-pane fade in active">
                            <div class="row">
                                <div class="col-md-12">
                                    <p v-html="product.description_long" > </p>

                                </div>
                            </div>
                        </div>
                        <!-- /tab1  -->

                        <!-- tab3  -->
                        <div id="tab3" class="tab-pane fade in active">
                            <div class="row">
                                <!-- Rating -->
                                <div class="col-md-3">
                                    <div id="rating">
                                        <div class="rating-avg">
                                            <span>{{commentApiStore.stars.avg}}</span>
                                            <div class="rating-stars">
                                                <i :class="[commentApiStore.stars.avg>0?'fa-star':'fa-star-o ']" class="fa"></i>
                                                <i :class="[commentApiStore.stars.avg>1?'fa-star':'fa-star-o ']" class="fa"></i>
                                                <i :class="[commentApiStore.stars.avg>2?'fa-star':'fa-star-o ']" class="fa"></i>
                                                <i :class="[commentApiStore.stars.avg>3?'fa-star':'fa-star-o ']" class="fa"></i>
                                                <i :class="[commentApiStore.stars.avg>4?'fa-star':'fa-star-o ']" class="fa"></i>
                                            </div>
                                        </div>
                                        <ul class="rating">
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 50%;"></div>
                                                </div>
                                                <span class="sum">{{commentApiStore.stars.five}}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 50%;"></div>
                                                </div>
                                                <span class="sum">{{commentApiStore.stars.four}}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 50%;"></div>
                                                </div>
                                                <span class="sum">{{commentApiStore.stars.three}}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 50%;"></div>
                                                </div>
                                                <span class="sum">{{commentApiStore.stars.two}}</span>
                                            </li>
                                            <li>
                                                <div class="rating-stars">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                    <i class="fa fa-star-o"></i>
                                                </div>
                                                <div class="rating-progress">
                                                    <div style="width: 50%;"></div>
                                                </div>
                                                <span class="sum">{{commentApiStore.stars.one}}</span>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- /Rating -->

                                <!-- Reviews -->
                                <div class="col-md-6">
                                    <div id="reviews">
                                        <ul class="reviews" v-if="commentApiStore.comments">

                                            <li v-for="comment in commentApiStore.comments" >
                                                <div class="review-heading">

                                                    <h5 class="name">{{comment.commenter?comment.commenter.name:comment.guest_name}}</h5>
                                                    <p class="date">{{comment.updated_at}}</p>
                                                    <div class="review-rating">
                                                        <i :class="[comment.stars>0?'fa-star':'fa-star-o empty']" class="fa"></i>
                                                        <i :class="[comment.stars>1?'fa-star':'fa-star-o empty']" class="fa"></i>
                                                        <i :class="[comment.stars>2?'fa-star':'fa-star-o empty']" class="fa"></i>
                                                        <i :class="[comment.stars>3?'fa-star':'fa-star-o empty']" class="fa"></i>
                                                        <i :class="[comment.stars>4?'fa-star':'fa-star-o empty']" class="fa"></i>
                                                    </div>
                                                </div>
                                                <div class="review-body">
                                                    <p>{{comment.comment}}</p>
                                                </div>
                                            </li>

                                        </ul>


                                        <ul class="reviews-pagination">

                                            <li :class="{'opacity-0':!commentApiStore.pagination.previousPage>0}"
                                                v-on:click="
                                                commentApiStore.pagination.page
                                                =
                                                commentApiStore.pagination.previousPage">
                                                <a>
                                                    <i class="fa fa-angle-left"></i>
                                                </a>
                                            </li>

                                            <li
                                                    v-for="(inx) in commentApiStore.pagination.maxPage"
                                                    v-on:click="commentApiStore.pagination.page =  inx"
                                                    :key="inx"
                                                    :class="{active:inx===commentApiStore.pagination.page}">
                                                {{inx}}
                                            </li>

                                            <li

                                             v-if:="commentApiStore.pagination.maxPage > commentApiStore.pagination.nextPage"
                                             v-on:click="commentApiStore.pagination.page = commentApiStore.pagination.nextPage">
                                                <a ><i class="fa fa-angle-right"></i></a>
                                            </li>

                                        </ul>
                                    </div>

                                </div>
                                <!-- /Reviews -->

                                <!-- Review Form -->
                                <div class="col-md-3">
                                    <div id="review-form">

                                        <form v-if="!authStore.authUser" class="review-form">
                                            <input v-model="commentApiStore.comment.guest_name" class="input" type="text" placeholder="Your Name">
                                            <input v-model="commentApiStore.comment.guest_email"  class="input" type="email" placeholder="Your Email">
                                            <textarea v-model="commentApiStore.comment.message" class="input" placeholder="Your Review">{{commentApiStore.comment.message}}</textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input
                                                            id="star5"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="5"
                                                            type="radio">
                                                    <label for="star5"></label>

                                                    <input id="star4"
                                                           v-model="commentApiStore.comment.stars"
                                                           name="rating"
                                                           value="4"
                                                           type="radio">
                                                    <label for="star4"></label>

                                                    <input
                                                            id="star3"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="3"
                                                            type="radio">
                                                    <label for="star3"></label>

                                                    <input
                                                            id="star2"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="2"
                                                            type="radio">
                                                    <label for="star2"></label>

                                                    <input
                                                            id="star1"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="1"
                                                            type="radio">
                                                    <label for="star1"></label>

                                                </div>
                                            </div>
                                            <button type="button" v-on:click="commentApiStore.create" class="primary-btn">Submit</button>
                                        </form>

                                        <form v-if="authStore.authUser" class="review-form">
                                            <textarea v-model="commentApiStore.comment.message" class="input" placeholder="Your Review">{{commentApiStore.comment.message}}</textarea>
                                            <div class="input-rating">
                                                <span>Your Rating: </span>
                                                <div class="stars">
                                                    <input
                                                            id="star5"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="5"
                                                            type="radio">
                                                    <label for="star5"></label>

                                                    <input id="star4"
                                                           v-model="commentApiStore.comment.stars"
                                                           name="rating"
                                                           value="4"
                                                           type="radio">
                                                    <label for="star4"></label>

                                                    <input
                                                            id="star3"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="3"
                                                            type="radio">
                                                    <label for="star3"></label>

                                                    <input
                                                            id="star2"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="2"
                                                            type="radio">
                                                    <label for="star2"></label>

                                                    <input
                                                            id="star1"
                                                            v-model="commentApiStore.comment.stars"
                                                            name="rating"
                                                            value="1"
                                                            type="radio">
                                                    <label for="star1"></label>

                                                </div>
                                            </div>
                                            <button type="button" v-on:click="commentApiStore.create" class="primary-btn">Submit</button>
                                        </form>
                                    </div>
                                </div>
                                <!-- /Review Form -->
                            </div>
                        </div>
                        <!-- tab3  -->
                    </div>
                    <!-- /product tab content  -->
                </div>
            </div>
            <!-- /product tab -->


        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</div>
<!-- /SECTION -->
