<div class="container">

    <nav class="woocommerce-breadcrumb">
        <router-link to="/">Home</router-link>
        <span class="delimiter">
            <i class="fa fa-angle-right">

            </i></span>Checkout
    </nav>

    <div id="primary" class="content-area">
        <main id="main" class="site-main">
            <article class="page type-page status-publish hentry">
                <header class="entry-header"><h1 itemprop="name" class="entry-title">Checkout</h1></header><!-- .entry-header -->

                <Form
                        @submit="onSubmit"
                        id="form-basket"
                        :validation-schema="schema"
                        v-slot="{ errors }"
                        enctype="multipart/form-data"
                        action="#"
                        class="checkout woocommerce-checkout"
                        method="post"
                        name="checkout">

                    <div id="customer_details" class="col2-set">
                        <div class="col-1">
                            <div class="woocommerce-billing-fields">

                                <h3>Billing Details</h3>


 <!--LAST NAME-->
                                <div class="col-md-4 form-group p-l-0">
                                    <label>
                                        Прізвище <abbr title="required" class="required">*</abbr></label>

                                    <Field
                                            class="input-text"
                                            :class="{ 'is-invalid': errors['recipient.last_name'] }"
                                            type="text"
                                            v-model="form.recipient.last_name"
                                            name="recipient.last_name" placeholder="Прізвище"/>

                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.last_name"/>
                                    </div>

                                </div>

<!-- FIRST NAME                           -->

                                <div class="col-md-4 form-group " >

                                    <label  >
                                        Ім'я<abbr title="required" class="required">*</abbr></label>

                                    <Field
                                            :class="{ 'is-invalid': errors['recipient.first_name'] }"
                                            class="input-text"
                                            type="text"
                                            v-model="form.recipient.first_name"

                                            name="recipient.first_name"
                                            placeholder="Ім'я"/>
                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.first_name" />
                                    </div>
                                </div>

 <!-- MEDDLE NAME                           -->
                                <div class="col-md-4 form-group p-r-0" >

                                    <label  >
                                        По батькові<abbr title="required" class="required">*</abbr></label>

                                    <Field
                                            class="input-text"
                                            :class="{ 'is-invalid': errors['recipient.middle_name'] }"
                                            type="text"
                                            v-model="form.recipient.middle_name"
                                            name="recipient.middle_name"
                                            placeholder="По батькові"/>
                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.middle_name" />
                                    </div>
                                </div>

  <!--EMAIL-->
                                <div class="row">
                                    <div class="col-md-6 form-group">
                                        <label>
                                            Email<abbr title="required" class="required">*</abbr></label>

                                        <Field
                                                class="input-text"
                                                :class="{ 'is-invalid': errors['recipient.email'] }"
                                                type="email"
                                                v-model="form.recipient.email"
                                                name="recipient.email"
                                                placeholder="Email"/>
                                        <div class="invalid-feedback">
                                            <ErrorMessage name="recipient.email"/>
                                        </div>
                                    </div>


                                    <!-- PHONE                           -->
                                    <div class="col-md-6 form-group">
                                        <label>
                                            Телефон
                                            <abbr title="required" class="required">*</abbr></label>

                                        <input type="text" placeholder="+38(___)___-__-__"
                                               v-model.lazy="form.recipient.phone" class="input-text"
                                               v-phone-mask="'+38(___)___-__-__'">

                                    </div>

                                </div>

                                <!--RECIPIENT CITY-->
                                <div class="form-group">

                                    <label>
                                        Місто<abbr title="required" class="required">*</abbr></label>

                                    <Field v-slot="{ field }"
                                           v-model="form.recipient.city"
                                           name="recipient.city">

                                        <VueMultiselect
                                                v-model="form.recipient.city"
                                                id="ajax"
                                                label="text"
                                                name="recipient.city"
                                                track-by="id"
                                                placeholder="Місто"
                                                open-direction="bottom"
                                                :class="{ 'is-invalid': errors['recipient.city'] }"
                                                :options="addressStore.citiesRecipient"
                                                :searchable="true"
                                                :internal-search="false"
                                                :clear-on-select="true"
                                                :close-on-select="true"
                                                :options-limit="300"
                                                :limit="3"
                                                :max-height="600"
                                                :show-no-results="false"
                                                @search-change="searchRecipientCity"
                                                @select="selectedRecipientCity"
                                        >
                                        </VueMultiselect>
                                        <div class="invalid-feedback">
                                            <ErrorMessage name="recipient.city" />
                                        </div>
                                    </Field>
                                </div>

                                <!-- RECIPIENT STREET                       -->
                                <div class="form-group">

                                    <label>
                                        Вулиця<abbr title="required" class="required">*</abbr></label>

                                    <Field v-slot="{ field }"
                                           v-model="form.recipient.street"
                                           name="recipient.street">

                                        <VueMultiselect
                                                v-model="form.recipient.street"
                                                id="ajax"
                                                label="text"
                                                track-by="id"
                                                placeholder="Вулиця"
                                                open-direction="bottom"
                                                :class="{ 'is-invalid': errors['recipient.street']}"
                                                :options="addressStore.streetsRecipient"
                                                :searchable="true"
                                                :internal-search="false"
                                                :clear-on-select="true"
                                                :close-on-select="true"
                                                :options-limit="300"
                                                :limit="3"
                                                :max-height="600"
                                                :show-no-results="false"
                                        >
                                        </VueMultiselect>

                                        <div class="invalid-feedback">
                                            <ErrorMessage name="recipient.street"/>
                                        </div>
                                    </Field>
                                </div>


                                <div class="col-md-6 form-group p-l-0">
                                    <label>
                                        Номер будинку<abbr title="required" class="required">*</abbr></label>

                                    <Field
                                            class="input-text"
                                            type="text"
                                            :class="{ 'is-invalid': errors['recipient.house']}"
                                            v-model="form.recipient.house"
                                            name="recipient.house"
                                            placeholder="Номер будинку"/>

                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.house"/>
                                    </div>
                                </div>

                                <div class="col-md-6 form-group p-r-0" >
                                    <label>
                                        Номер квартири<abbr title="required" class="required">*</abbr></label>
                                    <Field
                                            class="input-text"
                                            :class="{ 'is-invalid': errors['recipient.flat']}"
                                            type="text"
                                            v-model="form.recipient.flat"
                                            name="recipient.flat"
                                            placeholder="Номер квартири"/>

                                    <div class="invalid-feedback">
                                        <ErrorMessage name="recipient.flat"/>
                                    </div>
                                </div>



                            </div>
                        </div>

                        <!-- Delivery Address -->
                        <div class="col-2">
                            <h3>Shipping Details</h3>
                            <div class="woocommerce-shipping-fields">


                                <div class="input-radio ">
                                    <Field
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            value="nova_poshta"
                                            name="address_delivery.delivery_type"
                                            class="input-radio " id="dp-nova_poshta"/>

                                    <label style=" margin-left: 0.618em;" for="dp-nova_poshta">
                                        Нова почта
                                    </label>

                                    <div class="caption" style="font-size: 13px">
                                        <div
                                                class="form-row form-row ">
                                            <label  >
                                                Місто </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.city"
                                                    id="ajax"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Місто"
                                                    open-direction="bottom"
                                                    :options="addressStore.cities"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="true"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"

                                                    @search-change="searchDeliveryCity"
                                                    @select="asyncWarehouses"
                                            >

                                            </VueMultiselect>
                                        </div>


                                        <div  class="form-row form-row ">
                                            <label  >
                                                Відділення </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.warehouse"
                                                    id="warehouse"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Відділення"
                                                    open-direction="bottom"
                                                    :options="addressStore.filteredWarehouses"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="false"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"
                                                    @search-change="addressStore.searchWarehouses"

                                            >

                                            </VueMultiselect>
                                        </div>

                                    </div>
                                </div>


                                <div class="input-radio">
                                    <Field
                                            type="radio"
                                            v-model="form.address_delivery.delivery_type"
                                            value="meest_courier"
                                            name="address_delivery.delivery_type"
                                            class="input-radio" id="dp-courier"/>
                                    <label style=" margin-left: 0.618em;" for="dp-courier">
                                        Курьер
                                    </label>

                                    <div class="caption" style="font-size: 13px">

                                        <div  class="form-row form-row ">

                                            <label  for="billing_first_name">
                                                Місто </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.city"
                                                    id="ajax"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Місто"
                                                    open-direction="bottom"
                                                    :options="addressStore.cities"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="true"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"

                                                    @search-change="searchDeliveryCity"
                                                    @select="selectedDeliveryCity"
                                            >

                                            </VueMultiselect>
                                        </div>

                                        <div  class="form-row form-row ">

                                            <label  for="billing_first_name">
                                                Вулиця </label>

                                            <Field v-slot="{ field }"
                                                   v-model="form.address_delivery.street"
                                                   name="address_delivery.street">

                                                <VueMultiselect
                                                        v-model="form.address_delivery.street"
                                                        id="ajax"
                                                        label="text"
                                                        track-by="id"
                                                        placeholder="Вулиця"
                                                        open-direction="bottom"
                                                        :class="{ 'is-invalid': errors['address_delivery.street']}"
                                                        :options="addressStore.streets"
                                                        :searchable="true"
                                                        :internal-search="false"
                                                        :clear-on-select="true"
                                                        :close-on-select="true"
                                                        :options-limit="300"
                                                        :limit="3"
                                                        :max-height="600"
                                                        :show-no-results="false"
                                                >
                                                </VueMultiselect>

                                                <div class="invalid-feedback">
                                                    <ErrorMessage name="address_delivery.street"/>
                                                </div>
                                            </Field>

                                        </div>

                                        <div class="form-row form-row form-row-first">

                                            <label for="billing_first_name">Номер будинку</label>


                                            <Field
                                                    class="input-text"
                                                    type="text"
                                                    :class="{ 'is-invalid': errors['address_delivery.house']}"
                                                    v-model="form.address_delivery.house"
                                                    name="address_delivery.house"
                                                    placeholder="Номер будинку"/>

                                            <div class="invalid-feedback">
                                                <ErrorMessage name="address_delivery.house"/>
                                            </div>

                                        </div>

                                        <div class="form-row form-row form-row-last">

                                            <label for="billing_first_name">Номер квартири</label>

                                            <!--                                                <input type="text" name="billing_first_name" class="input-text">-->

                                            <Field
                                                    class="input-text"
                                                    :class="{ 'is-invalid': errors['address_delivery.flat']}"
                                                    type="text"
                                                    v-model="form.address_delivery.flat"
                                                    name="address_delivery.flat"
                                                    placeholder="Номер квартири"/>

                                            <div class="invalid-feedback">
                                                <ErrorMessage name="address_delivery.flat"/>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- Meest APT-->
                                <div class="input-radio">
                                    <Field type="radio"
                                           v-model="form.address_delivery.delivery_type"
                                           value="meest_apt" name="address_delivery.delivery_type"
                                           class="input-radio" id="dp_meest_apt"/>
                                    <label style=" margin-left: 0.618em;" for="dp_meest_apt">
                                        Meest APT
                                    </label>

                                    <div class="caption" style="font-size: 13px">
                                        <div
                                                class="form-row form-row ">
                                            <label >
                                                Місто </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.city"
                                                    id="ajax"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Місто"
                                                    open-direction="bottom"
                                                    :options="addressStore.cities"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="true"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"

                                                    @search-change="searchDeliveryCity"
                                                    @select="asyncWarehouses"
                                            >

                                            </VueMultiselect>
                                        </div>

                                        <div  class="form-row form-row ">
                                            <label  for="billing_first_name">
                                                Відділення </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.warehouse"
                                                    id="warehouse"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Відділення"
                                                    open-direction="bottom"
                                                    :options="addressStore.filteredWarehouses"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="false"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"
                                                    @search-change="addressStore.searchWarehouses"

                                            >

                                            </VueMultiselect>
                                        </div>
                                    </div>
                                </div>
                                <!--   Meest Point-->
                                <div class="input-radio">
                                    <Field type="radio"
                                           v-model="form.address_delivery.delivery_type"
                                           value="meest_point" name="address_delivery.delivery_type"
                                           class="input-radio" id="dp-meest_point"/>
                                    <label style=" margin-left: 0.618em;" for="dp-meest_point">
                                        Meest Point
                                    </label>

                                    <div class="caption" style="font-size: 13px">
                                        <div
                                                class="form-row form-row ">
                                            <label  >
                                                Місто </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.city"
                                                    id="ajax"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Місто"
                                                    open-direction="bottom"
                                                    :options="addressStore.cities"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="true"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"

                                                    @search-change="searchDeliveryCity"
                                                    @select="asyncWarehouses"
                                            >

                                            </VueMultiselect>
                                        </div>

                                        <div  class="form-row form-row ">
                                            <label  >
                                                Відділення </label>

                                            <VueMultiselect
                                                    v-model="form.address_delivery.warehouse"
                                                    id="warehouse"
                                                    label="text"
                                                    track-by="id"
                                                    placeholder="Відділення"
                                                    open-direction="bottom"
                                                    :options="addressStore.filteredWarehouses"
                                                    :searchable="true"
                                                    :internal-search="false"
                                                    :clear-on-select="false"
                                                    :close-on-select="true"
                                                    :options-limit="300"
                                                    :limit="3"
                                                    :max-height="600"
                                                    :show-no-results="false"
                                                    @search-change="addressStore.searchWarehouses"

                                            >

                                            </VueMultiselect>
                                        </div>
                                    </div>
                                </div>


                                <p id="order_comments_field" class="form-row form-row notes">
                                    <label for="order_comments">
                                        Order  Notes
                                    </label><textarea cols="5" rows="2"
                                                           placeholder="Notes about your order, e.g. special notes for delivery."
                                                                v-model="form.comment"
                                                           id="order_comments" class="input-text "
                                                           name="order_comments"></textarea></p>
                            </div>
                        </div>
                    </div>

                    <h3 id="order_review_heading">Your order</h3>

                    <div class="woocommerce-checkout-review-order" id="order_review">
                        <table class="shop_table woocommerce-checkout-review-order-table">
                            <thead>
                            <tr>
                                <th class="product-name">Product</th>
                                <th class="product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr  v-for="product in basketStore.products" :key="product.id" class="cart_item">
                                <td class="product-name">
                                    {{ product.name }}&nbsp;
                                    <strong class="product-quantity">× {{product.quantity}}</strong>
                                </td>
                                <td class="product-total">
                                    <span class="amount">₴ {{ product.price * product.quantity }}</span>
                                </td>
                            </tr>


                            </tbody>
                            <tfoot>

                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount">₴ {{basketStore.sum}}</span></td>
                            </tr>

                            <tr class="shipping">
                                <th>Shipping</th>
                                <td data-title="Shipping"> <span class="amount">₴ {{form.deliveryConst}}</span> <input type="hidden" class="shipping_method" value="international_delivery" id="shipping_method_0" data-index="0" name="shipping_method[0]"></td>
                            </tr>

                            <tr class="order-total">
                                <th>Total</th>
                                <td><strong><span class="amount">₴ {{form.sum_to_pay}}</span></strong> </td>
                            </tr>
                            </tfoot>
                        </table>

                        <h3>Payment type</h3>
                        <div class="woocommerce-checkout-payment" id="payment">
                            <ul class="wc_payment_methods payment_methods methods">
                                <li class="input-radio">
                                    <input type="radio"  v-model="form.payment_type" value="bank_card" name="payment" class="input-radio" id="payment_method_bank_card">
                                    <label for="payment_method_bank_card">Оплата картой онлайн</label>
                                    <div class=" caption">
                                        <p>{{settingsApiStore.basketItems?.bank_card}}</p>
                                    </div>
                                </li>

                                <li class=" input-radio">
                                    <input type="radio" id="payment_method_postpaid"  v-model="form.payment_type" value="postpaid" name="payment" class="input-radio" >
                                    <label for="payment_method_postpaid">Післяплата</label>
                                    <div class=" caption">
                                        <p>{{settingsApiStore.basketItems?.bank_card}} </p>
                                    </div>
                                </li>
                            </ul>
                            <div class="form-row place-order">

                                <p class="form-row terms wc-terms-and-conditions">
                                    <input type="checkbox" v-model="isAgree.order" id="terms" name="terms" class="input-checkbox">
                                    <label class="checkbox" for="terms">I’ve read and accept the <a target="_blank" href="terms-and-conditions.html">terms &amp; conditions</a> <span class="required">*</span></label>
                                    <input type="hidden" value="1" name="terms-field">
                                </p>

                                <input :disabled="!(isAgree.order === true )"   form="form-basket"  type="submit" data-value="Place order" value="Place order" class="button alt">
                            </div>
                        </div>
                    </div>
                </form>
            </article>
        </main><!-- #main -->
    </div><!-- #primary -->
</div><!-- .container -->
