<div class="single-product full-width">
<div id="content" class="site-content "  tabindex="-1">
    <div class="container">


        <nav class="woocommerce-breadcrumb">

        </nav>


        <div id="primary" class="content-area">
            <main id="main" class="site-main">

                <div class="product">

                    <div class="single-product-wrapper" style="
    margin-bottom: 1rem;
">
                        <div class="product-images-wrapper" >

                            <Carousel style="" id="gallery" :items-to-show="1" :wrap-around="false" v-model="currentSlide">
                                <Slide v-for="(img,slide) in product.images" :key="slide">
                                    <a :href="$storageUrl+'/'+img.name"
                                       :data-pswp-width="sizeImg(slide,'width')"
                                       :data-pswp-height="sizeImg(slide,'height')"

                                       class="carousel__item">
                                        <img
                                                :src="$storageUrl+'/'+img.name" :data-echo="$storageUrl+'/'+img.name"
                                                class="wp-post-image" alt="">
                                    </a>
                                </Slide>
                            </Carousel>




                            <Carousel
                                    id="thumbnails"
                                    :items-to-show="5"
                                    :wrap-around="false"
                                    v-model="currentSlide"
                                    ref="carousel"
                            >
                                <Slide v-for="(img,slide) in  product.images" :key="slide">
                                    <div style="cursor: pointer" class="carousel__item" @click="slideTo(slide)">
                                        <img
                                                :src="$storageUrl+'/'+img.name" :data-echo="$storageUrl+'/'+img.name"
                                                class="wp-post-image" alt="">

                                    </div>
                                </Slide>
                            </Carousel>


<!--                            <div class="images electro-gallery">-->
<!--                                <div class="thumbnails-single ">-->

<!--                                    <a v-for="img in product.images" :href="$storageUrl+'/'+img.name"-->
<!--                                       title="" >-->
<!--                                        <img-->
<!--                                            :src="$storageUrl+'/'+img.name" :data-echo="$storageUrl+'/'+img.name"-->
<!--                                            class="wp-post-image" alt=""></a>-->

<!--                                </div>&lt;!&ndash; .thumbnails-single &ndash;&gt;-->

<!--                                <div class="thumbnails-all columns-5 owl-carousel">-->

<!--                                </div>&lt;!&ndash; .thumbnails-all &ndash;&gt;-->
<!--                            </div>&lt;!&ndash; .electro-gallery &ndash;&gt;-->
                        </div><!-- /.product-images-wrapper -->

                        <div class="summary entry-summary">

<!--                                        <span class="loop-product-categories">-->
<!--                                            <a href="product-category.html" rel="tag">Headphones</a>-->
<!--                                        </span>&lt;!&ndash; /.loop-product-categories &ndash;&gt;-->

                            <h1 itemprop="name" class="product_title entry-title">{{product.name}}</h1>


                            <div class="brand">
                                <a href="product-category.html">
<!--                                    <img src="assets/images/single-product/brand.png" alt="Gionee" />-->
                                </a>
                            </div><!-- .brand -->

                            <div class="availability in-stock">Доступність: <span>На складі</span></div><!-- .availability -->

                            <hr class="single-product-title-divider" />

                            <div class="action-buttons">

<!--                                <a href="#" class="add_to_wishlist" >-->
<!--                                    Wishlist-->
<!--                                </a>-->


<!--                                <a href="#" class="add-to-compare-link" data-product_id="2452">Compare</a>-->
                            </div><!-- .action-buttons -->

                            <div itemprop="description" v-html="product.description_short">

                            </div><!-- .description -->

                            <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">

                                <p class="price"><span class="electro-price"><ins><span
                                        class="amount">{{product.price}} грн</span></ins> </span>
                                </p>

                                <meta itemprop="price" content="1215" />
                                <meta itemprop="priceCurrency" content="USD" />
                                <link itemprop="availability" href="http://schema.org/InStock" />

                            </div><!-- /itemprop -->

                            <form class="variations_form cart" method="post">


                                <div class="single_variation_wrap">
                                    <div class="woocommerce-variation single_variation"></div>
                                    <div class="woocommerce-variation-add-to-cart variations_button">
                                        <button style="
    margin-left: 5px;
"  v-on:click="basketStore.addToBasket(product)" type="button" class="single_add_to_cart_button button">Купити</button>
                                        <input type="hidden" name="add-to-cart" value="2452" />
                                        <input type="hidden" name="product_id" value="2452" />
                                        <input type="hidden" name="variation_id" class="variation_id" value="0" />
                                    </div>
                                </div>
                            </form>

                        </div><!-- .summary -->
                    </div><!-- /.single-product-wrapper -->

                    <div class="woocommerce-tabs wc-tabs-wrapper">
                        <ul class="nav nav-tabs electro-nav-tabs tabs wc-tabs" role="tablist">

                            <li class="nav-item description_tab active">
                                <a href="#tab-description"  data-toggle="tab">Все о товаре</a>
                            </li>
                            <li class="nav-item specification_tab">
                                <a href="#tab-specification" data-toggle="tab">Характеристики</a>
                            </li>

                        </ul>

                        <div class="tab-content">

                            <div class="tab-pane active in panel entry-content wc-tab" id="tab-description">
                                <div class="electro-description" v-html="product.description_long">


                                </div><!-- /.electro-description -->



                                <div class="product_meta">
                                    <span class="sku_wrapper">SKU: <span class="sku" itemprop="sku">FW511948218</span></span>


<!--                                    <span class="posted_in">Category:-->
<!--                                                    <a href="product-category.html" rel="tag">Headphones</a>-->
<!--                                                </span>-->

<!--                                    <span class="tagged_as">Tags:-->
<!--                                                    <a href="product-category.html" rel="tag">Fast</a>,-->
<!--                                                    <a href="product-category.html" rel="tag">Gaming</a>, <a href="product-category.html" rel="tag">Strong</a>-->
<!--                                                </span>-->

                                </div><!-- /.product_meta -->
                            </div>

                            <div class="tab-pane panel entry-content wc-tab" id="tab-specification">
                                <h3>Технічні характеристики</h3>
                                <table class="table">
                                    <tbody>
                                    <tr v-for="item in product.attributes">
                                        <td>{{item.attribute.name}}</td>
                                        <td>{{item.value}}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div><!-- /.panel -->

                        </div>

                    </div><!-- /.woocommerce-tabs -->


                </div><!-- /.product -->



            </main><!-- /.site-main -->
        </div><!-- /.content-area -->
    </div><!-- /.container -->
</div><!-- /.site-content -->
</div>
